aside {
    background: $secondaryColor;
    width: 55px;
    color: #fff;
    position: fixed;
    height: 100%;
    overflow: hidden;
    top: 58px;
    z-index: 1;
    &:hover {
        width: 210px;
    }
    @media (max-width:576px) {
        width: 45px;
        top: 45px;
    }
    ul.sidebarListWrapper  {
        padding: 15px 0;
        li.SidebarList {
            padding: 8px;
            @media (max-width:576px) {
                padding: 3px;
            }
            .buttonWrapper {
                border-radius: 5px;
                height: 35px;
                padding: 3px 8px 3px 8px;
                &.activeState {
                    background: #fff;

                    svg {
                        color: $primaryColor;
                    }

                    .MuiListItemText-root {
                        color: $secondaryColor;
                    }
                }

                .iconWrapper {
                    min-width: auto;
                    width: 25px;
                    justify-content: center;
                    margin-right: 15px;
                    color: #fff;
                    svg {
                        font-size: 24px;
                        @media (max-width:576px) {
                            font-size: 22px;
                        }
                    }
                    
                }
            }

        }
    }
}